<section class="row">
  <h3 class="col-md-12 text-center">Reset your password</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <ba-alert *ngIf="error" [text]="error" [type]="'danger'"></ba-alert>
    <form [formGroup]="resetPasswordForm" (submit)="onSubmit()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="New Password">
          <small *ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.controls['newPassword'].errors && resetPasswordForm.controls['newPassword'].errors.required" class="text-danger">New password is required!</small>
        </div>
        <div class="form-group">
          <label for="verifyPassword">Verify Password</label>
          <input type="password" id="verifyPassword" formControlName="verifyPassword" class="form-control" placeholder="Verify Password">
          <small *ngIf="resetPasswordForm.controls['verifyPassword'].dirty && resetPasswordForm.controls['verifyPassword'].errors && resetPasswordForm.controls['verifyPassword'].errors.required" class="text-danger">Password confirmation is required!</small>
          <small *ngIf="resetPasswordForm.controls['verifyPassword'].dirty && resetPasswordForm.controls['verifyPassword'].errors && resetPasswordForm.controls['verifyPassword'].errors.notMatch" class="text-danger">Password confirmation does not match new password!</small>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-large btn-primary" [disabled]="resetPasswordForm.invalid || isSubmitting"><i *ngIf="isSubmitting" class="fa fa-spinner-animate fa-spinner"></i>Update Password</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
