<section class="row">
  <h3 class="col-md-12 text-center">Change your password</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <ba-alert *ngIf="error" [text]="error" [type]="'danger'"></ba-alert>
    <ba-alert *ngIf="success" [text]="'Password changed successfuly'" [type]="'success'"></ba-alert>
    <form [formGroup]="changePasswordForm" name="changePassword" class="signin form-horizontal" (submit)="changePassword()" autocomplete="off" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" formControlName="oldPassword" placeholder="Current Password">
          <small *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.controls['oldPassword'].errors && changePasswordForm.controls['oldPassword'].errors.required" class="text-danger">Current password is required!</small>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" formControlName="newPassword" placeholder="New Password">
          <small *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.controls['newPassword'].errors && changePasswordForm.controls['newPassword'].errors.required" class="text-danger">New password is required!</small>
        </div>
        <div class="form-group">
          <label for="verifyPassword">Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" formControlName="verifyPassword" placeholder="Verify Password">
          <small *ngIf="changePasswordForm.controls['verifyPassword'].dirty && changePasswordForm.controls['verifyPassword'].errors && changePasswordForm.controls['verifyPassword'].errors.required" class="text-danger">Password confirmation is required!</small>
          <small *ngIf="changePasswordForm.controls['verifyPassword'].dirty && changePasswordForm.controls['verifyPassword'].errors && changePasswordForm.controls['verifyPassword'].errors.notMatch" class="text-danger">Password confirmation does not match new password!</small>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-large btn-primary" [disabled]="changePasswordForm.invalid || isSubmitting"><i *ngIf="isSubmitting" class="fa fa-spinner-animate fa-spinner"></i>Save Password</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
