<section class="row">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your account email.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <ba-alert *ngIf="error" [text]="error" [type]="'danger'"></ba-alert>
    <form [formGroup]="forgotForm" (submit)="onSubmit()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email">
          <small *ngIf="forgotForm.controls['email'].dirty && forgotForm.controls['email'].errors && forgotForm.controls['email'].errors.required" class="text-danger">Email is required!</small>
          <small *ngIf="forgotForm.controls['email'].value && forgotForm.controls['email'].dirty && forgotForm.controls['email'].errors && forgotForm.controls['email'].errors.validateEmail" class="text-danger">Invalid Email format!</small>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary" [disabled]="forgotForm.invalid || isSubmitting"><i *ngIf="isSubmitting" class="fa fa-spinner-animate fa-spinner"></i>Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
